<h1>The Mood of the News</h1>

<% if current_user %>
  <h2>Logged in as:</h2>
  <%= form_for current_user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email, :value => current_user.email %>
    <br /> 
    <%= f.label :phone %>
    <%= f.text_field :phone, :value => current_user.phone %>
    <br />
    <%= f.label :topic %>
    <%= f.text_field :topic, :value => current_user.topic %>
    <br />
    <%= f.submit 'Update' %>
  <% end %>

  <br />

  <h2>Want to know the mood right now?</h2>
  <%= button_to "Get the mood", news_index_path, method: :post %>
<% else %>
  <h2>Login!</h2>

  <%= form_for 'login' do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Login' %>
  <% end %>

  <h2>Don't have an account? Create one!</h2>

  <%= form_for :user, url: users_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :topic %>
    <%= f.text_field :topic %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Create' %>
  <% end %>
<% end %>